
html, 
body {
  margin: 0px;
  padding: 0px;
}

html body * {
  box-sizing: border-box;
}


body, html {
	width: 100%;
	height: 100%;
}


body {
	font-family: 'Open Sans', 'san-serif';
	font-size: 12px;
}

#wrapper {
	margin: auto;
}



.container-1 {
	background: url(images/head-bg.png);
	background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}


.row {
	display: flex;
	max-width: 960px;
	margin: auto;
}

.col-1 {
	display: flex;
	flex: 1;
	margin-top: 20px;
}


/* Main Nav Begins*/


.nav {
  padding: 20px;
  box-shadow: 0px 0px 0px 0px transparent;
}


.nav,
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background: transparent;
  width: 100%;
/*  box-shadow: 0px -11px 29px 0px black;*/
}



.logo {
	width: 90px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}


.nav-main {
	margin-top: 20px;
}

.nav-items {
/*	flex: 1;*/
	display: inline-block;
	text-align: right;
	font-family: OpenSans-Semibold;
	font-size: 1em;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.nav-items ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
  font-size: 1.2em;
  align-self: center;
}

.nav-items ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  margin: 20px;
}


.nav-items ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.nav-items ul li last-child:hover {
  text-decoration: none;
  cursor: pointer;
}



.h-teach-brainzones {
 	cursor: pointer;
}


.h-teach-brainzones.button {
	background-color: #0AC156;
    border-radius: 5px;
    width: 255px;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}




.button {
	font-family: OpenSans-SemiBold;
	font-size: 1.1em;
	color: #FFFFFF;
	/*background-image: linear-gradient(-135deg, #0FCD6B, #0AC156);*/
	background-color: #0AC156;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
	border-radius: 5px;
	width: 250px;
	padding: 20px 5px 20px 5px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}



.button:hover {
	transition: background 0.5s ease;
	/*background-image: linear-gradient(-135deg, #384351 0%, #232B35 100%);*/
	background-color: #0DA2D6;
}


.button a:hover {
	transition: background 0.5s ease;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
}


.button a:hover {
	text-decoration: none;
}


.nav a:link, a:visited {
	text-decoration: none;
	color: white;
}


/* Main Nav End*/


/*Mobile Nav Begins*/


.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
	background: #212629;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,0.50);
  z-index: -1;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.nav-mobile.active {
  -webkit-transform: translate(0%, calc(0% + 121px) );
          transform: translate(0%, calc(0% + 121px) );
}

.nav-mobile ul {
  list-style: none;
  padding: 30px;
}

.nav-mobile ul li {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.nav-mobile ul li a {
  text-decoration: none;
	font-family: OpenSans-Semibold;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 91px;
	text-transform: uppercase;
}


.mobile-button {
	text-align: right;
    align-self: center;
    margin-top: 46px;
}



  .menu-button {
  	flex: 0;
  	height: 40px;
  	width: 80px;
  	-ms-grid-row-align: center;
  	    align-self: center;
	background: #00D1FF;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.50);
	border-radius: 5px;
	font-family: OpenSans-Semibold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.16px;
	text-transform: uppercase;
	margin-right: 20px;
	display: none;
	background: #00D1FF;
	text-align: center;
	 line-height: 39.8px;
  }




/*Mobile Nav Ends*/


/*Quote*/

.row.row-2 {
	display: flex;
}

.col-6.quote {
	margin-top: 100px;
	margin-left: 20px;
    flex-basis: 46%;
    font-family: OpenSans;
    font-size: 200%;
    color: #fff;
    letter-spacing: 0.87px;
    line-height: 55px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}


#quotation-mark {
	/* “Brainzones taught me: */
	/*font-family:'Lora';*/
	font-weight: 400;
	font-size: 64px;
	color: #00D1FF;
	letter-spacing: 0.87px;
	line-height: 40px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	margin-top: 5px;
}

.kendrick {
	font-family: OpenSans;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.51px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	text-transform: uppercase;
	 margin-bottom: 150px;
}

.kendrick::first-letter {
	color: #00D1FF;
}


/*Container 2 Begins*/



.container-2 {

background-image: linear-gradient(-135deg, #0EC6E4 100%, #0DA2D6 0%);

}

.col.col-12 {
	display: flex;
	flex-basis: 100%;
}


.featured-logos {
	display: flex;
	flex-basis: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	flex-wrap: wrap;
}


.featured-in {
	color: #fff;
	font-family: OpenSans-semibold;
	font-size: 16px;
	text-transform: uppercase;
	-ms-grid-row-align: center;
	    align-self: center;
	flex:1;
}


.abj {
	flex: 1;
	margin-right: 0px;
	-ms-grid-row-align: center;
	    align-self: center;
	text-align: center;
}

.ascd {
	flex: 1;
	-ms-grid-row-align: center;
	    align-self: center;
	margin-right: 0px;
	text-align: center;
}

.taea {
	flex: 1;
	-ms-grid-row-align: center;
	    align-self: center;
	margin-right: 0px;
	text-align: center;
}


/*Container 2 Ends*/

.container-3 {
	background-color: #fff;
}




.col-12 {
	display: flex;

}


.about-us {
	font-family: OpenSans-Semibold;
	font-size: 150%;
	color: #232B35;
	letter-spacing: 0.27px;
	text-align: center;
	line-height: 44px;
	margin: auto;
    margin-top: 50px;
    flex-basis: 86%;
    text-transform: uppercase;
}

.about {
	display: flex;
	margin-top: 25px;
	flex-direction: column;

}



.about-p {
/*	flex:1;*/
	font-family: OpenSans;
	font-size: 125%;
	color: #232B35;
	line-height: 31px;
	margin-left: 20px;
    margin-right: 20px;
}


p strong {
	font-weight: 700;
	font-family: OpenSans;
	font-size: 100%;
	color: #232B35;
}



.about img {
	flex: 2;
	width: 25%;
	-ms-grid-row-align: center;
	    align-self: center;
}

.selfie-p {
	margin-top: 10px;
    font-family: OpenSans-Semibold;
    font-size: 86%;
    color: #232B35;
    text-align: center;
    line-height: 20px;
    width: 44%;
    -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 25px;
}


/*container 4*/


.container-4 {
     background-image: linear-gradient(-135deg, #384351 100%, #232B35 0%);
}

.container-4 .row-6 {
	margin-top: 100px;
}


.button.teach-brainzones {
	align-self: center;
    margin: 40px 0px 40px 0px;
}

.row-6 .col-12 {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
}

.row-6 .col-12 h4 {
	flex: 1;
	margin: auto;
	font-family: OpenSans-Bold;
	font-size: 235%;
	color: #FFFFFF;
	text-align: center;
	line-height: 55px;
	text-transform: uppercase;
}


.row-6 .col-12 p {
	flex: 1;
	font-family: OpenSans-SemiboldItalic;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
}



#text-green {
	color: #0fc0e1;
}

/*Container 5 Begins*/


.container-5 {
    background-image: linear-gradient(-135deg, #0EC6E4 0%, #0DA2D6 100%);
}


.col-12.footer {
	display: flex;
	flex-direction: column;
}

/*
.icons {
/*	flex: 1;
	margin-top: 50px;
	text-align: center;
}



.twitter, .facebook, .pinterest {
	margin-right: 20px;
	cursor: pointer;
}


.pinterest {
	margin-right: 0px;
}

*/


.icon-footer {
	display: flex;
	align-self: center;
	margin-bottom: 0px;
/*	height: 5em;*/
/*    margin-top: 30px;*/
}


.follow-us {
	-ms-grid-row-align: center;
	    align-self: center;
	text-align: center;
	margin-top: 50px;
	font-size: 150%;
	font-family: 'OpenSans-Bold';
	text-transform: uppercase;
	color: #232B35;
	width: 90%;
}

.icon-twitter {
/*  display: inline-block;*/
  width: 2em;
/*  height: 2em;*/
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
  margin: 10px;
}

.icon:hover {
	fill: #fff;
}


.icon:visited {
	fill: red;
}

.icon-facebook-square {
  width: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
  margin: 10px;
}


.icon-instagram {
 width: 2em;
  stroke-width: 0;
  stroke: #27303B;
  fill: #27303B;
  cursor: pointer;
  margin: 10px;
}


.footer-links {
	flex: 1;
	font-family: OpenSans-Semibold;
	font-size: 100%;
	color: #232B35;
	text-align: center;
/*	margin-top: 20px;*/
}


.footer-links ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.footer-links li:last-child {
	margin-right: 0px;
}



.copyright {
	flex: 1;
	font-family: OpenSans;
	font-size: 80%;
	color: #232B35;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}



.footer-links a:link {
	text-decoration: none;
	color: #fff;
}

.footer-links a:hover {
	text-decoration: underline;
	color: #fff;
}


.footer-links a:visited {
	text-decoration: none;
	color: #232B35;
}





/*Smaller Screensizes --------------------*/ 


@media screen and (max-width: 768px){

.nav,
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
 background: #212629;
 box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
}



.nav-mobile {
	display: none;
}


.nav-mobile.active {
	display: block;
}



.menu-button {
	display: block;
}

.quote {
	margin-left: 40px;
}



.about-p {
	flex-direction: column;
}

.selfie {
	flex-direction: column;
}


.row-1 .col-5 {
 	display: none;
 }


.nav-items ul {
	display: none;
}


.about-p {
	margin-left: 20px;
	margin-right: 20px;
}

.col-6.quote {
	 margin-left: 40px;
    margin-top: 100px;
    flex-basis: 61%;
    font-family: OpenSans;
    font-size: 2em;
    color: #fff;
    /* letter-spacing: 0.87px; */
    line-height: 58px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}




}





@media screen and (max-width: 420px){



.col-6.quote {
	margin-left: 40px;
    margin-top: 100px;
    flex-basis: 61%;
    font-family: OpenSans;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.87px;
    line-height: 38px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}



}






