
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html, 
body {
  margin: 0px;
  padding: 0px;
}

html body * {
  box-sizing: border-box;
}


body, html {
	font-family: 'Open Sans', san-serif !important;
	font-size: 12px;
	width: 100%;
	height: 100%;
}


body {
	font-family: 'Open Sans', san-serif !important;
	font-size: 12px;
}

#wrapper {
	margin: auto;
}



.container-1 {
	background: url(images/head-bg.png);
	background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

.container-1-about {
	background: url(images/baby.jpg);
	background-position: center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}


.row {
	display: flex;
	max-width: 960px;
	margin: auto;
}

.col-1 {
	display: flex;
	flex: 1;
	margin-top: 20px;
}


/* Main Nav Begins*/


.nav {
  padding: 20px;
  box-shadow: 0px 0px 0px 0px transparent;
}


.nav,
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  background: transparent;
  width: 100%;
/*  box-shadow: 0px -11px 29px 0px black;*/
}



.logo {
	width: 90px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.logo:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

.nav-main {
	margin-top: 20px;
}

.nav-items {
/*	flex: 1;*/
	display: inline-block;
	text-align: right;
	font-weight: 600;
	font-size: 1em;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

.nav-items ul {
  list-style: none;
  padding: 0px;
  display: flex;
}

.nav-items ul li {
  margin-left: 20px;
  font-size: 1.2em;
  -ms-grid-row-align: center;
      align-self: center;
}

.nav-items ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  margin: 20px;
}


.nav-items ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nav-items ul:last-child:hover {
  text-decoration: none;
  cursor: pointer;
}

#header-button:hover {
	text-decoration: none;
}


.h-teach-brainzones {
 	cursor: pointer;
}


.h-teach-brainzones.button {
	background-color: #0AC156;
    border-radius: 5px;
    width: 270px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}


.h-teach-brainzones:hover {
	text-decoration: none;
}



.button {
	font-weight: 600;
	font-size: 1.1em;
	color: #FFFFFF;
	/*background-image: linear-gradient(-135deg, #0FCD6B, #0AC156);*/
	background-color: #0AC156;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
	border-radius: 5px;
	width: 250px;
	padding: 20px 5px 20px 5px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}



.button:hover {
	transition: background 0.5s ease;
	/*background-image: linear-gradient(-135deg, #384351 0%, #232B35 100%);*/
	background-color: #0DA2D6;
}


.button a:hover {
	transition: background 0.5s ease;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
}


.button a:hover {
	text-decoration: none;
}


.nav a:link, a:visited {
	text-decoration: none;
	color: white;
}




/* Main Nav End*/


/*Mobile Nav Begins*/



.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #212629;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.50);
  z-index: -1;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.nav-mobile.active {
  -webkit-transform: translate(0%, calc(0% + 140px) );
          transform: translate(0%, calc(0% + 140px) );
}

.nav-mobile ul {
  list-style: none;
  padding: 30px;
}

.nav-mobile ul li {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.nav-mobile ul li a {
  text-decoration: none;
	font-family: OpenSans-Semibold;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 91px;
	text-transform: uppercase;
}


.mobile-button {
	text-align: right;
    -ms-grid-row-align: center;
        align-self: center;
    margin-top: 46px;
}



  .menu-button {
  	flex: 0;
  	height: 40px;
  	width: 80px;
  	-ms-grid-row-align: center;
  	    align-self: center;
	background: #00D1FF;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.50);
	border-radius: 5px;
	font-family: OpenSans-Semibold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.16px;
	text-transform: uppercase;
	margin-right: 20px;
	display: none;
	background: #00D1FF;
	text-align: center;
	 line-height: 39.8px;
  }




/*Mobile Nav Ends*/


/*Quote*/

.row.row-2 {
	display: flex;
}

.col-6.quote {
	margin-top: 100px;
	margin-left: 20px;
    flex-basis: 46%;
    font-weight: 400;
    font-size: 200%;
    color: #fff;
    letter-spacing: 0.87px;
    line-height: 55px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}


#quotation-mark {
	/* “Brainzones taught me: */
	/*font-family:'Lora';*/
	font-weight: 400;
	font-size: 64px;
	color: #00D1FF;
	letter-spacing: 0.87px;
	line-height: 40px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	margin-top: 5px;
}

.kendrick {
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.51px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	text-transform: uppercase;
	 margin-bottom: 150px;
}

.kendrick::first-letter {
	color: #00D1FF;
}



.col.col-6.meet {
    margin-top: 250px;
    margin-bottom: 250px;
 }

.meet p {
	font-family: Lato-Regular;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 1.31px;
	line-height: 40px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	text-transform: uppercase;
}

.sub-name {
	font-family: Lato-Regular;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0.73px;
	text-align: center;
	line-height: 40px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}





/*Container 2 Begins*/



.container-2 {
background-color: #4599FD;

}

.col.col-12 {
	display: flex;
	flex-basis: 100%;
}


.featured-logos {
	display: flex;
	flex-basis: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	flex-wrap: wrap;
}


.featured-in {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	-ms-grid-row-align: center;
	    align-self: center;
	flex:1;
}


.abj {
	flex: 1;
	margin-right: 0px;
	-ms-grid-row-align: center;
	    align-self: center;
	text-align: center;
}

.ascd {
	flex: 1;
	-ms-grid-row-align: center;
	    align-self: center;
	margin-right: 0px;
	text-align: center;
}

.taea {
	flex: 1;
	-ms-grid-row-align: center;
	    align-self: center;
	margin-right: 0px;
	text-align: center;
}


/*Container 2 Ends*/

/*Container 3 Begins*/

.container-3 {
	background-color: #fff;
}



.col-12 {
	display: flex;

}

.left-column {
	display: flex;
    flex-direction: column;
}


.left-column ul li {
	margin-top: 20px;
	margin-left: 5px;
	list-style: square;
	font-size: 18px;
	color: #232B35;
	line-height: 31px;
	margin-right: 20px;
}


.about-us {
	font-size: 18px;
	color: #4599FD;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 80px;
}


#block {
	height: 10px;
    width: 146px;
    background-color: #4599fd;
    margin-top: 4px;
    border-radius: 4px;
}

.names {
	font-size: 14px;
	color: #232B35;
	font-weight: 400;
	margin-top: 10px;
	text-align: center;
	font-style: italic;
}

.about {
	display: flex;
	margin-top: 25px;
	flex-direction: column;

}




.about-p {
	margin-top: 40px;
	font-size: 18px;
	color: #232B35;
	line-height: 31px;
    margin-right: 20px;
}


p strong {
	font-weight: 700;
	font-size: 100%;
	color: #232B35;
}



.marcey-debbie {
	border-radius: 10px;
    transition: 0.5s ease-in-out all;
    margin-top: 40px;
    -ms-grid-row-align: center;
        align-self: center;
}


.marcey-debbie:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}


/*container 4*/


.container-4 {
     background-image: linear-gradient(-135deg, #384351 100%, #232B35 0%);
}

.container-4 .row-6 {
	margin-top: 100px;
}


.button-bg {
	display: flex;
	align-self: center;
}

.button.teach-brainzones {
	-ms-grid-row-align: center;
	    align-self: center;
    margin: 40px 0px 40px 0px;
}

.row-6 .col-12 {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
}

.row-6 .col-12 h4 {
	flex: 1;
	margin: auto;
	font-weight: 700;
	font-size: 235%;
	color: #FFFFFF;
	text-align: center;
	line-height: 55px;
	text-transform: uppercase;
}


.row-6 .col-12 p {
	flex: 1;
	font-weight: 600;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 10px;
}



#text-green {
	color: #4599FD;
}

/*Container 5 Begins*/


.container-5 {
    /*background-image: linear-gradient(-135deg, #0EC6E4 0%, #0DA2D6 100%);*/
    background-color: #4599FD;
}


.col-12.footer {
	display: flex;
	flex-direction: column;
}


/*Packages Begins*/

.row-9 {
	max-width: 960px;
	margin: auto;
	display: block;
}


.container-7 {
	background-color: #FAFAFA;
}


.header-packages {
	display: flex;
	flex-direction: column;
}




.packages {
	display: flex;
	margin-top: 40px;
}


.package {
	flex:1;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);
	border-radius: 10px;
	background-color: #fff;
	margin-bottom: 80px;
	transition: .5s all ease-in-out;
}


.package:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	transition: .5s all ease-in-out;
}


.package.package-2 {
	margin-right: 40px;
    margin-left: 40px;
}

.package h2 {
	font-size: 24px;
	color: #232B35;
	text-align: center;
	margin-top: 20px;
}


.package p {
/*font-family: OpenSans-SemiboldItalic;*/
	font-size: 12px;
	color: #4599FD;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	margin-top: 4px;
}


.package ul li {
	/*font-family: OpenSans-Semibold;*/
	font-weight: 600;
	font-size: 14px;
	color: #232B35;
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
	line-height: 20px;
	list-style: circle;
}




/*Packages Ends*/


/*Form Begins*/

.col.col-12 {
	display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

.form h2 {
	margin-top: 50px;
	font-weight: 700;
	font-size: 36px;
	color: #4599FD;
	letter-spacing: 0.76px;
	text-align: center;
	width: 100%;
}

.form p {
	font-weight: 400;
	font-style: italic;
    font-size: 1em;
    color: #232B35;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}



#myForm {
	font-weight: 400;
	font-style: italic;
	font-size: 12px;
	color: #232B35;
	letter-spacing: 0.51px;
	width: 85%;
	align-self: center;
	display: flex;
    flex-direction: column;
}


input#nameID {
	border: 2px solid #0AC157;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    text-indent: 10px;
}


input#email {
	border: 2px solid #0AC157;
    border-radius: 4px;
     width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    text-indent: 10px;
}


textArea#message {
	border: 2px solid #0AC157;
    border-radius: 4px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 100px;
    text-indent: 10px;
}


#submit {
	margin-right: 0px;
	 -ms-grid-row-align: center;
	     align-self: center;
    margin-bottom: 60px;
    margin-top: 10px;
    text-indent: 10px;
}


#submit-button {
	font-weight: 600;
	font-size: 1.5em;
	color: #FFFFFF;
	/*background-image: linear-gradient(-135deg, #0FCD6B, #0AC156);*/
	background-color: #0AC156;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
	border-radius: 5px;
	width: 250px;
	padding: 20px 5px 20px 5px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    text-decoration: none;
     -ms-grid-row-align: center;
         align-self: center;
    margin-bottom: 50px;
}

#submit-button:hover {
	transition: background 0.5s ease;
    background-color: #0DA2D6;
}

textarea {
	resize: none;
}


/*Form Ends*/


/*Footer*/

.icon-footer {
	display: flex;
	align-self: center;
	margin-bottom: 0px;
/*	height: 5em;*/
    margin-top: 30px;
}


#follow-us {
	-ms-grid-row-align: center;
	    align-self: center;
	text-align: center;
	margin-top: 50px;
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	color: #232B35;
	width: 90%;
}

#social {
   	font-weight: 400;
	font-style: italic;
    font-size: 1em;
    color: #232B35;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2.2em;
  height: 2.2em;
  margin:30px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #27303B;
}

.svg-icon circle {
  stroke: #27303B;
  stroke-width: 1;
}


.icon-hover-border {
	background-color: transparent;
	border-radius: 10px;
	transition: .5s ease-in-out all;
	cursor: pointer;
}


.icon-hover-border:hover {
	background-color: #2e87f2;
	border-radius: 10px;
	transition: .5s ease-in-out all;
	cursor: pointer;
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
	
}


.facebook {
  cursor: pointer;
}


.pinterest {
  cursor: pointer;
}



.footer-links {
	flex: 1;
	font-weight: 600;
	font-size: 100%;
	color: #232B35;
	text-align: center;
/*	margin-top: 20px;*/
}



.footer-links ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.footer-links li:last-child {
	margin-right: 0px;
}



.copyright {
	flex: 1;
	font-size: 80%;
	color: #232B35;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}



.footer-links a:link {
	text-decoration: none;
	color: #fff;
}

.footer-links a:hover {
	text-decoration: underline;
	color: #fff;
}


.footer-links a:visited {
	text-decoration: none;
	color: #232B35;
}


/*Parsley*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}


/*Smaller Screensizes --------------------*/ 


@media screen and (max-width: 768px){

.nav,
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
 background: #212629d4;
 box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
}



.nav-mobile {
	display: block;
}


.menu-button {
	display: block;
}

.quote {
	margin-left: 40px;
}


.row-1 .col-5 {
 	display: none;
 }


.nav-items ul {
	display: none;
}


.about-p {
	margin-left: 20px;
	margin-right: 20px;
}

.col-6.quote {
	 margin-left: 40px;
    margin-top: 100px;
    flex-basis: 61%;
    font-size: 2em;
    color: #fff;
    /* letter-spacing: 0.87px; */
    line-height: 58px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}


.packages {
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}

.package {
	margin-bottom: 50px;
}


.package.package-2 {
	margin-right: 0px;
    margin-left: 0px;
}



.marcey-debbie {
    width: 95%;
}


#block {
	margin-left: 20px;
}


.about-us {
	margin-left: 20px;
}

.featured-in {

	margin-left: 20px;

	}

}





@media screen and (max-width: 420px){



.col-6.quote {
	margin-left: 40px;
    margin-top: 100px;
    flex-basis: 61%;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.87px;
    line-height: 38px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}



}






